---
const platform = "github";
const platform2 = "facebook";
const platform3 = "instagram";
const platform4 = "youtube";
const username = "javiergcd";
const username2 = "";
const username3 = "";
const username4 = "";
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>¡En facebook: <a href={`https://www.${platform2}.com/${username2}`}>{platform2}</a>!</p>
  <p>¡En instagram: <a href={`https://www.${platform3}.com/${username3}`}>{platform3}</a>!</p>
  <p>¡En youtube: <a href={`https://www.${platform4}.com/${username4}`}>{platform4}</a>!</p>
</footer>